.blog-thumbnail {
  height: 180px;
  background: url('https://source.unsplash.com/400x300/?writing,notebook') center/cover no-repeat;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  transition: transform 0.3s ease-in-out;
}

.blog-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

  .blog-thumbnail {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%; // Optional: can also try 'auto' depending on design
    width: 100%;
  }


  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  }
}