.createblogs-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 80vw;
    margin: 10px auto;
    padding: 10px;
    
}
#title{
    width: 50%;
    margin: 10px;
    border-radius: 10px;
}
