<div class="signup-outer">
    <form [formGroup]="signUpForm" (ngSubmit)="OnSubmit()" class="signup-form">
        <label for="username">Name:</label>
        <input type="text" formControlName="username" class="form-control-lg" required>

        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control-lg" required>

        <label for="password1">Password:</label>
        <input type="password" formControlName="password1" class="form-control-lg" required>

        <label for="password2">Confirm Password:</label>
        <input type="password" formControlName="password2" class="form-control-lg" required>

        <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
        <p>Already have an account? Login <a [routerLink]="['/']">here</a></p>
    </form>
</div>