.myblogs-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 80vw;
    margin: 10px auto;
    padding: 10px;
    
}
.profile-outer{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-image{
    margin: 0px;
    height: 50vh;
}
.profile-outer img{
    width: 48vw;
    object-fit:contain;
    clip-path: circle(150px);
}
.profile-form{
    margin: 0px;
    width: 80vw;
    padding: 10px;
    /* border: 2px solid silver; */
}
.profile-details{
    border: 2px solid silver;
    border-radius: 25px;
    padding: 10px;
}

.profile-password{
    border: 2px solid silver;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.profile-buttons{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.profile-form label{
    margin: 5px;
}

.profile-load{
    border: 2px dotted lightgray;
    border-radius:10px;
    padding:10px
}
.username-load{
    border: 2px dotted lightgray;
    border-radius:10px;
    padding:10px
}
.email-load{
    border: 2px dotted lightgray;
    border-radius:10px;
    padding:10px    
}