<div class="login-outer">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" >
        <label for="">Email:</label>
        <input type="email" formControlName="email" class="form-control-lg" required>
        <label for="">Password:</label>
        <input type="password" formControlName="password" class="form-control-lg" required>
        <button type="submit" class="btn btn-primary">login</button>
        <p>doesn't have an account? signup <a [routerLink] = "['/auth/signup']">here</a> </p>
    </form>
</div>
