.myblogs-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 80vw;
    margin: 10px auto;
    padding: 10px;
    
}
.bloglist-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloglist{
    width: 80vw;
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
}
.bloglist-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bloglist-btn button{
    margin: 0px 10px;
    font-size: 20px;
}
.buttons button{
    margin: 0px 5px;
}