
.login-outer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.login-form{
    min-width: 40vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
}
.login-form input{
    margin: 10px 0px;
    width: 60%;
    border-radius: 25px;
}
.login-form p{
    font-size: 15px;
}