<div class="myblogs-outer">
  <div class="myblogs-head">
    <h2 class="">My Blogs</h2>
    <div class="buttons">
      <button class="btn btn-primary" [routerLink]="['/allblogs']">
        All Blog
      </button>
      <button class="btn btn-primary" [routerLink]="['/createblog']">
        Add Blog
      </button>
    </div>
  </div>
  <ng-container>
  <div *ngFor="let blog of blogs" class="bloglist-con">
    <div class="bloglist">
      <h3 class="title">{{ blog.title }}</h3>
      <div class="bloglist-btn">
        <button class="delete" [hidden]="!(blog.isapproved=='rejected')" >Rejected</button>
        <button class="delete" [hidden]="!(blog.isapproved=='approved')" >Approved</button>
        <button class="delete" [hidden]="!(blog.isapproved=='pending')" >Pending</button>
        <button class="edit" [routerLink] = "['/editblog',blog._id]" >✏️</button>
        <button class="delete" (click)="deleteBlog(blog._id)" >❌</button>
      </div>
    </div>
  </div>
</ng-container>
</div>
