.blog-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.blog-cancel{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
}
.blog-cancel button{
    margin: 0px 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.blog-container{
    width: 90vw;
    height: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    border: 2px double grey;
    box-shadow: 10px black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog-title{
    padding: 10px;
    border-radius: 10px;
    background-color: silver;
    margin: 10px 0px;
}
.blog-content{
    padding: 10px;
}
.blog-content{
    width: 90vw;
}