<div class="blog-outer">
  <div class="blog-container">
    <div class="blog-header">
      <div class="blog-title">
        <h2>{{ title }}</h2>
        <p>-{{ username }}</p>
      </div>
      <div class="blog-cancel">
        <button (click)="goBack()" class="blog-cancel">X</button>
      </div>
    </div>
    <div class="blog-content" [innerHTML]="content"></div>
  </div>

  <div class="blog-comments">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <label for="comment">Add Comment:</label>
      <input
        type="text"
        formControlName="comment"
        name="comment"
        id="comment"
      />
      <button class="btn btn-outline-primary">Comment</button>
    </form>
  </div>

  <div class="display-comments container mt-4">
    <div class="comment-box overflow-auto">
      <div class="comment-container" *ngFor="let comment of commentDisplay">
        <p>{{ comment.username }}</p>
        <h5>{{ comment.content }}</h5>
        <button
          (click)="handleReplyClick(comment._id)"
          class="btn"
          data-bs-toggle="button"
          [hidden]="replying"
        >
          reply
        </button>
        <div class="comment-reply">
          <input type="text" *ngIf="replying && comment._id === activatedComment" [(ngModel)]="reply" />
          <button class="btn" *ngIf="replying && comment._id === activatedComment" data-bs-toggle="button"
                  (click) = "addReply(comment._id)"
          >reply</button>
          <button class="btn" *ngIf="replying && comment._id === activatedComment" data-bs-toggle="button" 
                  (click) = "handleReplyCancel()"
          >cancel</button>
        </div>
        <div class="reply-content" *ngFor="let reply of comment.replies">
          <p>{{ reply.username }}</p>
          <h5>{{ reply.content }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
