.blog-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.blog-cancel{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: center;
}
.blog-cancel button{
    margin: 0px 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.blog-container{
    width: 90vw;
    height: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    border: 2px double grey;
    box-shadow: 10px black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blog-title{
    padding: 10px;
    border-radius: 10px;
    background-color: silver;
    margin: 10px 0px;
}
.blog-content{
    padding: 10px;
}
.blog-content{
    width: 90vw;
}

/* add comment */
.display-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.blog-comments{
    margin: 10px;
}
.blog-comments label{
   color: black;
   margin: 0px 10px;
}
.blog-comments button{ 
    margin: 0px 10px;
    border-radius: 25px;
    height: 8vh;
}

/* show comment */

#comment{
    width: 60vw;
    border-radius: 25px;
    height: 8vh;
}

.comment-box {
    width: 100vw;
    max-height: 80vh; 
    overflow-y: auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.comment-container{
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    width: 80vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.comment-box h5 {
    margin: 0px;
}

.comment-box p {
    font-size: 0.8rem;
    margin: 0px;
}

/* reply */
.reply-content{
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: silver;
    color: black;
    width: 50vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
