<div class="createblogs-outer">
  <div class="createblogs-head">
    <h2 class="">Create Blog</h2>
    <button class="btn btn-primary" [routerLink]="['/myblogs']">
      Go to Blog
    </button>
  </div>
  <div class="createblog-create">
    <div class="create-blog">
        <form [formGroup]="blogForm" (ngSubmit)="createBlog()">
          <div>
            <label for="title">Title: </label>
            <input type="text" id="title" formControlName="title" 
                    placeholder="Give your blog a title..."/>
            <div *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched">
              Title is required.
            </div>
          </div>
      
          <div>
            <label for="content">Content:</label>
            <editor
                apiKey="0cj1uviecifcpmih8jfo4lswwom9ljjgerwzpx5g2yzf8jvi"
              formControlName="content"
              [init]="{
                height: 400,
                menubar: false,
                plugins: 'lists link image charmap preview',
                toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist | link image',
                placeholder:'Write your blogs here...'
              }"
            ></editor>
            <div *ngIf="blogForm.get('content')?.invalid && blogForm.get('content')?.touched">
              Content is required.
            </div>
          </div>
      
          <button type="submit" [disabled]="blogForm.invalid">Create Blog</button>
        </form>
      </div>
      
  </div>
</div>
