<div class="myblogs-outer">
  <div class="myblogs-head">
    <h2 class="">All Blogs</h2>
    <div class="buttons">
      <button class="btn btn-primary" [routerLink]="['/myblogs']">
        My Blogs
      </button>
    </div>
  </div>
  <div *ngFor="let blog of blogs" class="bloglist-con">
    <ng-container *ngIf="isAdmin || blog.isapproved==='approved'">
      <div class="bloglist">
        <h3 class="title">{{ blog.title }}</h3>
        <div class="btn-container">
          
          <button
            class="bloglist-btn"
            [hidden]="!isAdmin || blog.isapproved==='approved' "
            (click)="approveBlog(blog._id,blog.title,blog.content,blog.username,blog.isapproved)"
          >
            ✔️
          </button>
          <button
            class="bloglist-btn"
            [hidden]="!isAdmin || blog.isapproved==='approved' || blog.isapproved=='rejected'"
            (click)="rejectBlog(blog._id,blog.title,blog.content,blog.username,blog.isapproved)"
          >
            ❌
          </button>
          <button class="delete" [hidden]="!(blog.isapproved=='rejected')" >Rejected</button>
          <button class="delete" [hidden]="(!(blog.isapproved=='approved') || !isAdmin)" >Approved</button>
          <button
            class="bloglist-btn"
            [routerLink]="['/displayblog', blog._id]"
          >
            📖
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
